@font-face {
	font-family: WebSymbols;
	src: url("assets/fonts/WebSymbols-Regular.otf") format("opentype");
}

#popup-content {
	background-color: -moz-Dialog;
	padding: 8px;
	width: 300px;
	min-width: 100%;
}

#buttonPanel {
	background-color: lightgrey;
	position: sticky;
	top: 0;
	will-change: transform;
}

.switchTabs {
	display: flex;
	flex-direction: row;
	background-color: lavender;
	justify-content: space-between;
	margin: 4px 4px 8px 8px !important;
	width: 100%;
	height: 64px;
	border-radius: 8px;
	border: 0px;
	scroll-snap-align: start;
	scroll-margin-top: 64px;
}

.switchTabs:active:not(.closeTab:active) {
	background-color: lightgrey;
}

.activeTab {
	background-color: #aaffaa;
}

.closeTab {
	font-family: WebSymbols;
	font-size: 12pt;
	text-align: center;
	align-self: center;
	background-color: lightgrey;
	border: 0px;
	border-radius: 16px;
	margin: 8px;
	width: 32px;
	height: 32px;
	flex-shrink: 0;
}

.closeTab:active {
	background-color: #77777750;
}

.createTab {
	font-family: WebSymbols;
	font-size: 12pt;
	text-align: center;
	background-color: #00000000;
	border: 0px;
	border-radius: 16px;
	margin: 8px;
	width: 32px;
	height: 32px;
}

.createTab:active {
	font-color: black;
}

.tabLabel {
	float: left;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	align-self: center;
	overflow: hidden;
	overflow-wrap: break-word;
}

.tabIcon {
	background: white;
	margin: 8px;
	border-radius: 4px;
	padding: 4px;
	flex-shrink: 0;
	width: 32px;
	height: 32px;
}
